# **NumPy**

- import numpy

In [ ]:
import numpy as np

In [ ]:
# Kernel Numpy version
print(np.__version__)

### numpy array generation & multiplying vector

##### A General Python List

In [ ]:
# Python List
py_list = [1, 2, 3]
py_list = py_list * 2

print(py_list)

##### With numpy, you can do vectorized operation like multiply an array.

In [ ]:
# Numpy List
np_list = np.array([1, 2, 3])
np_list = np_list * 2

print(np_list)
print(type(np_list))        # <class 'numpy.ndarray'>

### Multidimensional Arrays

In NumPy, .shape is an attribute of a ndarray object that returns a tuple representing the dimensions of the array. Each element in the tuple indicates the length of the corresponding dimension.

- For a 1-D array, the tuple contains a single element representing the number of elements in the array.
- For a 2-D array (matrix), the tuple contains two elements: the first represents the number of rows,
  and the second represents the number of columns.
- For higher-dimensional arrays, each element in the tuple corresponds to the size of a dimension.

In [ ]:
# .ndim     :- to find the dimension of the array
# .shape    :- to access the shape of the matrix


dim_0 = np.array('A')       # 0-dimensional array
print(dim_0.ndim)           # 0
print(dim_0.shape)          # ()        - empty set


dim_1 = np.array(['A', 'B', 'C'])       # 1-dimensional array
print(dim_1.ndim)                       # 1
print(dim_1.shape)                      # (3,)      - 3 elements


dim_2 = np.array( [ ['A','B','C'], ['G','H','I'] ] )      # 2-dimensional array
print(dim_2.ndim)                                         # 2
print(dim_2.shape)                                        # (2, 3)      - 2 arrays/rows, 3 elements each


dim_3 = np.array( [
    [ ['A','B','C'], ['D','E','F'] ],       # 1st layer
    [ ['G','H','I'], ['J','K','L'] ],       # 2nd layer
    [ ['M','N','O'], ['P','Q','R'] ]        # 3rd layer
] )                                             # 3-dimensional array
print(dim_3.ndim)                               # 3
print(dim_3.shape)                              # (3, 2, 3) - 3 arrays, 2 rows each, 3 elements per rows

# in n-dimensions where n is greater than 1,
# each 1 dimensions must have equal number of elements inside them

### Chain Indexing & Multidimensional Indexing

- Multidimension Indexing is faster than the Chain Indexing

In [ ]:
array = np.array( [
    [ ['A','B','C'], ['D','E','F'], ['G','H','I'] ],
    [ ['J','K','L'], ['M','N','O'], ['P','Q','R'] ],
    [ ['S','T','U'], ['V','W','X'], ['Y','Z',' '] ]
] )

# Chain Indexing
print(array[0][0][0])       # 1st layer/n-1 array, 1st row, 1st element
print(array[1][2][1])       # Q

# Multidemnsional Indexing
print(array[0, 0, 0])       # 1st layer/n-1 array, 1st row, 1st element
print(array[1, 2, 1])       # Q


# Word Generate:- NUMPY
word = array[1,1,1] + array[2,0,2] + array[1,1,0] + array[1,2,0] + array[2,2,0]
print(word)

### **Slicing**

- Use Subscript Operator:- []
- array[start : end : step]
- end index is exclusive. end-1 is counted

There are two ways to slice:

1. Row Wise
2. Column Wise

##### Ways to Slice array (row-wise)

- array[start]
- array[start : end] :- Range
- array[start : end : step]

In [ ]:
# 2D Array
arr = np.array( [ [1,   2,  3,  4], 
                  [5,   6,  7,  8], 
                  [9,  10, 11, 12], 
                  [13, 14, 15, 16] 
                ] )

##### arr[start]

In [ ]:
# Print the 1st row
print(arr[0])       # [1 2 3 4]

# Reverse Indexing
print(arr[-1])      # [13 14 15 16]
print(arr[-2])      # [ 9 10 11 12]

##### arr[start : end] = range

In [ ]:
# Print the 1st 2 rows
print(arr[0:2])

# Empty end index       
print(arr[1:])        # Start from 1 and, Slice to End

# Select all rows
print(arr[:])

##### arr[start : end : step]

In [ ]:
# Print every 2nd row
print(arr[0:4:2])       # [[ 1  2  3  4] [ 9 10 11 12]]


# same operation, different technique
print(arr[::2])         


# Select all rows
print(arr[::])


# Reverse Array rows
print(arr[::-1])

##### Ways to Slice array column-wise

- First we have to understand the basics of getting a column element
- We need to remember to get the column we need to add a comma(,)

In [ ]:
# arr[row, col]
print(arr[2, 3])    # 12

- How to Print the 1st Column

In [ ]:
# Step-1: Select all rows
print(arr[:])

In [ ]:
# Step-2: Add the Column index which you want to print
print(arr[ :, 0])

- Print Columns

In [ ]:
print(arr[ :, 0])       # 1st Column
print(arr[ :, 1])       # 1st Column
print(arr[ :, 2])       # 1st Column
print(arr[ :, 3])       # 1st Column

print(arr[ :, -1])      # Reverse
print(arr[ :, -2])

##### Print the 1st 3 columns

- 1. Select all Rows
- 2. Remeber to add the comma
- 3. Define the **Range** after the comma

In [ ]:
# 1. Select all rows
# 2. Remeber to add the comma
# 3. Define the Range after the comma

print(arr[:, 0:3])

##### Print the middle 2 columns

In [ ]:
print(arr[:, 1:3])

##### Print the last 3 columns

In [ ]:
# print the last 3 columns
print(arr[:, 1:])

##### Ways to print the whole array

1. ```
   print(arr[:])
   ```
2. ```
   print(arr[:, :])
   ```

##### Column Steps

In [ ]:
# Print every 2 columns
print(arr[:, ::2])

In [ ]:
# Print every 2 columns but starts from index-1, or Print all the even indexed columns
print(arr[:, 1::2])

In [ ]:
# Print columns in reverse order
print(arr[:, ::-1])

### Challenge:- Print all elements in reverse order

In [ ]:
# Reverseing Columns
print(arr[:, ::-1])

In [ ]:
# Reversing Rows
print(arr[::-1])

In [ ]:
# Reversing Rows then Columns
print(arr[::-1, ::-1])

### Challenge:- Print 1st 2 rows but only for the 1st 2 columns

In [ ]:
# 1. Select the first two rows      0:2
# 2. Add comma
# 3. Select the first two rows      0:2   
print(arr[:2, :2])

### Challenge:- Print the middle two rows but for middle 2 columns

In [ ]:
print(arr[1:3, 1:3])

### Challenge:- Print the last two rows but only for the last 3 columns

In [ ]:
print(arr[2: , 1:])

### Arithmetic

- Scalar Arithmetic

In [ ]:
num = np.array([3, 8, 2])

print(num + 2)
print(num - 5)
print(num * 3)
print(num / 2)
print(num ** 2)

- Vectorized Math Finctions

In [ ]:
num = np.array([8.75, 10.31, 2.76])

print(np.sqrt(num))
print(np.round(num))
print(np.floor(num))
print(np.ceil(num))

In [ ]:
print(np.pi)

- Find the Area

In [ ]:
rad = np.array([1, 2, 3])

print(np.pi * rad ** 2)         # A = pi * r^2

- Element Wise Arithmetic

In [ ]:
arr1 = np.array([1, 2, 3])
arr2 = np.array([4, 5, 6])

print(arr1 + arr2)
print(arr1 - arr2)
print(arr1 * arr2)
print(arr1 / arr2)
print(arr1 ** arr2)

- Comparison Arithmetic

In [ ]:
scores = np.array([91, 77, 84, 53, 100, 88])

print(scores == 100)
print(scores >= 80)
print(scores < 80)

In [ ]:
# Failed Students get 0

scores[scores < 55] = 0
scores[scores >= 88] = 90

print(scores)

### Broadcasting